{% extends "layout.html" %}
{% block content %}
    <p>Login</p>

    {% block flash %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}

    <form action="#" method="Post">
        {{ method("PUT") }}
        <p> <input type="email" placeholder="Enter Email" name="email"/> </p>
        <p> <input type="password" placeholder="Enter Password" name="password"/> </p>
        <p> <input type="submit" value="Submit"/> </p>
    </form>

    <form action="/" method="Get">
        <input type="submit" value="Return to home">
    </form> 
{% endblock %}