{% extends "layout.html" %}
{% block content %}
    
    {% block flash %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% endblock %}

    <p>Register</p>
    <form action="#" method="Post">
        {{ method("PUT")}}
        <p> <input type="text" placeholder="Enter Name" name="user_name"/> </p>
        <p> <input type="email" placeholder="Enter Email" name="email"/> </p>
        <p> <input type="password" placeholder="Enter Password" name="password"/> </p>
        <p> <input type="submit" value="Submit"/> </p>
    </form>

    <form action="/" method="get">
    <input type="submit" value="Return to home">
    </form>

{% endblock %}