{% extends "base.html" %}
{% block content %}
    
    {% block flash %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% endblock %}

    <p>Update Account</p>
    <form action="#" method="post">
    <p> <input type="text" placeholder="New Name" name="user_name"/> </p>
    <p> <input type="email" placeholder="New Email" name="email"/> </p>
    <p> <input type="password" placeholder="New Password" name="password"/> </p>
    <p> <input type="submit" value="Save change"/> </p>
    </form>

{% endblock %}